.card-restaurant__liked {
    position: relative;
    z-index: 0;
    @include pink-gradient;
    background-clip: border-box;
    transform: scale(0);
}

.card-restaurant__like {
    color: white;
    position: absolute;
    z-index: 1;
    
    &:hover {
        opacity: 0;
        transition: $slow-duration;

        & + .card-restaurant__liked {  
            z-index: 0;
            transition: transform ease-in-out $fast-duration;
            transform:scale(1);
        }
        
    }
}

