/* Colors */

$primary:#9257da;
$secondary:#fc79d7;
$third:#96e2cf;
$fourth:#7e7b7b;
$fifth:#333333;
$mint:#96dfcc;
$white-background :#f5f4f4;

/* Font */

$medium-weight: 500;

/* Media queries - Breakpoints */

$breakpoints: (
  mobile: 320px,
  large-mobile: 360px,
  tablet: 480px,
  small-screen: 769px,
  laptop: 1024px,
  desktop: 1224px,
);

/* spaces for margin and paddings */

$small-spacing: 10px;
$regular-spacing: 20px;
$medium-spacing: 40px;
$big-spacing: 70px;

/* animation duration */

$fast-duration: 400ms;
$medium-duration: 600ms;
$slow-duration: 800ms;